.selectForm{
    all: unset;
    width: 300px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formContainer{
  width: 300px;
  height: 30px;
  position: relative;
}

.formContainer::after{
  content: "▼";
  top: 8px;
  right: 6px;
  position: absolute;
  display: inline;
  color: #333;
  font-size: 12px;
}
