.App {
  width: 900px;
  height: 600px ;
  margin: auto;
  display: flex;
  margin-top: 60px;
  
}

.sideMenu{
  width: 200px;
  height: 100%;
  border: 1px solid #ddd;
  /* padding: 5px; */
  /* margin-inline-end: 8px; */
  border-radius: 6px 0px 0px 6px;
}

.container{
  border: 1px solid #ddd;
  border-radius: 0px 6px 6px 0px;
  overflow: hidden;
  height: 100%;
}

.header{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f3f3f3;
  border-bottom: solid 1px #ddd;
}